* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb; /* Changed header color to match the website theme */
    color: #ffffff;
}

h1 { /* deleted .header*/
    display: inline-block;
    font-size: 48px;
}

.seo { /* deleted .header h1*/
    color: #000000; /* Changed font color to increase contrast for accessibility */
    font-size: 55px; /* Changed font size to increase contrast */
}

nav { /* .header div to nav*/ 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}


nav li { /* header div ul to nav*/
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure { /* changed .hero to figure */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main { /* changed .content to main*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside { /* changed .benefits to aside*/
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {/* changed .benfit-brand to  aside section*/
    margin-bottom: 32px;
    color: #ffffff;
}

 aside section h3 { /* changed .benfit-brand to aside section and deleted redundant css*/
    margin-bottom: 10px;
    text-align: center;
}

 aside section img { /* changed .benefit-lead to aside section and deleted redundant css*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
main section { /* changed .search engine optimization to main section, and deleted redundant code*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main section img { /* changed .search engine optimization to main section, and deleted redundant code*/
    max-height: 200px;
}

main section h2 { /* changed .search engine optimization to main section, and deleted redundant code*/
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /* made into a element selector*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 { /* made into a element selector*/
    font-size: 20px;
}
